
.logo a {
  text-decoration: none;
}

.logo .text {
  color: #337ab7;
  font-size: 18px;
}

.logo .nom1 {
  font-size: 50px;
  color: rgb(45, 45, 150);
}

.logo .nom2 {
  font-style: Helvetica;
  font-size: 30px;
  color: rgb(66, 66, 66);
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  margin: 30px 50px;
  line-height: 24px; /*la minimum espace entre deux ligne*/
}

.btn {
  background-color: #337ab7;
  color: white;
  padding: 10px 21px; /*pour l'espace entre l'ecriture et les bordure du button*/
  text-decoration: none;
}

.btn:hover {
  background: rgb(66, 66, 66);
  color: white;
}

#nonconnect {
  color: white;
  text-decoration: none;
}

#nonconnect:hover {
  background-color: white;
  color: #337ab7;
}

#connecte {
  background-color: #5cb85c;
  color: white;
  text-decoration: none;
}

#connecte:hover {
  background-color: white;
  color: green;
}

#dgrconnecte {
  background-color: #d9534f;
  color: white;
  text-decoration: none;
}

#iconlogout {
  color: white;
}

#dgrconnecte:hover {
  background: #d43f3a;
}


img, .imageAbout {
  max-width: 100%; /*la taille de l'image dans leur block*/
}

.wrapper {
  display: grid; /*css grid*/
  grid-gap: 35px; /*les espaces entre le block*/
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(5, 1fr); /*nav liste:division de l'espace entre chaque block en */
}

.main-nav {
  transition: .5s;
}

.main-nav .nav {
  background: #000;
  display: block;
  text-decoration: none;
  padding: 13px;
  text-align: center;
  color: #fff;
  text-transform: uppercase; /* transformer en maj */
  font-size: 14px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  border-radius: 3px;
  cursor: pointer;
}

.main-nav li a:hover {
  background: #fff;
  color: #000;
}

.main-nav a:hover {
  background: #fff;

}

.main-nav li a:hover {
  padding: 12px;
  border: solid 1px black;
}

.main-nav .btn {
  display: block;
  padding: 13px;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

#btn:hover {
  color: #337ab7;
  font-weight: bold;
}

/* Top Container */
.top-container {
  display: grid;
  grid-gap: 10px; /*l'espace height and width entre juste entre le top container*/
  grid-template-areas: 'case1header case1header top-box-a' 'case1header case1header top-box-b';
}

/* case1header */
.case1header {
  grid-area: case1header;
}

.case1header #image {
  width: 30cm;
  height: 12cm;
  border-radius: 5px;
}


/* Top Box */
.top-box {
  background: #ddd;
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1.5rem 8.9rem;
  border-radius: 5px;
}

.top-box .langage {
  font-size: 15px;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

i {
  color: #337ab7;
}

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));; /*ou auto fit au la place de 5 auto fit permer de reserver la place automatiquement au nombre des box*/
}

.box {
  background: #ddd;
  text-align: center;
  padding: 24px 32px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* Info */
.info {
  background: #ddd;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
}

/* additions de about.php */
.sectionAbout {
  background: #ddd;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px;
  margin: 80px 80px;
}

.imageAbout {
  width: 500px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.infoAbout {
  margin-right: 100px;
  font-size: 18px;
}

/*Additions quizresult.php*/
#panel1, #panel2 {
  margin: 20px;
}

/* Portfolio */
.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
}

.portfolio img {
  width: auto;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.formation {
  color: #337ab7;
  font-size: 25px;
}

/* Footer */
footer {
  margin-top: 50px;
  background: #333;
  color: #ffff;
  text-align: center;
  padding: 16px;
}

.icon {
  display: none;
}

/* Media Queries */
@media (max-width: 750px) {
  .logo .icon {
    display: block;
    grid-area: area3;
  }

  /* .logo .area2{
     display:none;
   }*/
  .logo {
    text-align: center;
    grid-template-areas: 'area1 area3';
  }

  .top-container {
    grid-template-areas: 'case1header case1header' 'top-box-a top-box-b';
  }

  .case1header h1 {
    font-size: 40px;
  }

  #image {
    width: 10px;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .logo {
    grid-template-areas: 'area1 area3';
  }

  .logo .icon {
    display: block;
    grid-area: area3;
  }

  /* .logo .area2{
     display:none;
   }*/
  #image {
    width: 10cm;
  }

  .top-container {
    grid-template-areas: 'case1header' 'top-box-a' 'top-box-b';
  }
}
  