.logo {
  padding: 30px 20px 20px 20px;
  background: #fff;
  display: grid;
  grid-template-areas: 'area1';
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  border-radius: 5px;
}

.logo .area1 {
  grid-area: area1;
}

.logo a {
  text-decoration: none;
}

.logo .nom1 {
  font-size: 50px;
  color: rgb(45, 45, 150);
}

.logo .nom2 {
  font-style: Helvetica;
  font-size: 30px;
  color: rgb(66, 66, 66);
}

#SECONNECTE, #INSCRIPTION {
  text-align: center;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background: #64a3da;
  margin: 30px 50px;
  line-height: 24px; /*la minimum espace entre deux ligne*/
}

.btn {
  background-color: #337ab7;;
  color: white;
  padding: 10px 21px;
  text-decoration: none;
}

.btn:hover {
  background: rgb(66, 66, 66);
  color: white;
}

.wrapper {
  display: grid; /*css grid*/
  grid-gap: 35px; /*les espaces entre le block*/
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(5, 1fr); /*nav liste:division de l'espace entre chaque block en */
}

.main-nav .nav {
  background: #000;
  display: block;
  text-decoration: none;
  padding: 13px;
  text-align: center;
  color: #fff;
  text-transform: uppercase; /*transformer en maj*/
  font-size: 14px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.main-nav li a {
  border-radius: 3px;
  padding: 12px;
  border: solid 1px black;
}

.main-nav li a:hover {
  border-radius: 3px;
  padding: 12px;
  border: solid 1px black;
}

.main-nav a:hover {
  background: #fff;
  color: #000;
}

.main-nav .btn {
  display: block;
  padding: 13px;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.icon {
  display: none;
}

@media (max-width: 750px) {
  .logo .icon {
    display: block;
    grid-area: area3;
  }

  .logo {
    text-align: center;
    grid-template-areas: 'area1 area3';
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 600px) {
  .logo {
    grid-template-areas: 'area1 area3';
  }

  .logo .icon {
    display: block;
    grid-area: area3;
  }

}