.panel {
  width: 500px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

h5 {
  font-weight: bold;
}

#btn {
  width: 100px;
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

#btn:hover {
  color: #007bff;
  background-color: white;
  border-color: #007bff;
}