.logo {
  display: grid;
  grid-template-areas: 'area1' 'area2';
  grid-row-gap: 10px;
}

.logo .area1 {
  grid-area: area1;
}

.logo .area2 {
  grid-area: area2;
}

.logo .icon {
  display: none;
  grid-area: area3;
}

.logo a {
  text-decoration: none;
}

.logo .text {
  color: #337ab7;
  font-size: 18px;
}

.logo .Rechercher {
  position: absolute;
  left: 900px;
  border: 0px;
}

.logo .Recherchertext {
  position: absolute;
  left: 1240px;
}

.logo .fas {
  font-size: 25px;
}

.logo .nom1 {
  font-size: 50px;
  color: rgb(45, 45, 150);
}

.logo .nom2 {
  font-style: Helvetica;
  font-size: 30px;
  color: rgb(66, 66, 66);
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  margin: 30px 50px;
  line-height: 24px; /*la minimum espace entre deux ligne*/
}

#nonconnect {
  color: white;
  text-decoration: none;
}

#nonconnect:hover {
  background-color: white;
  color: #337ab7;
}

#connecte {
  background-color: #5cb85c;
  color: white;
  text-decoration: none;
}

#connecte:hover {
  background-color: white;
  color: green;
}

#dgrconnecte {
  background-color: #d9534f;
  color: white;
  text-decoration: none;
}

#dgrconnecte:hover {
  background: white;
  color: #d43f3a;
}

#iconlogout {
  color: white;
}

#iconlogout:hover {
  color: #d9534f;
}

img {
  max-width: 100%; /*la taille de l'image dans leur block*/
}

.wrapper {
  display: grid; /*css grid*/
  grid-gap: 35px; /*les espaces entre le block*/
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(6, 1fr); /*nav liste:division de l'espace entre chaque block en */
}

.main-nav .nav {
  background: #000;
  display: block;
  text-decoration: none;
  padding: 13px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  border-radius: 3px;
}

.main-nav li a:hover {
  background: #fff;
  color: #000;
}

.main-nav a:hover {
  background: #fff;

}

.main-nav li a:hover {
  padding: 12px;
  border: solid 1px black;
}

.main-nav .btn {
  display: block;
  padding: 13px;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

#btn:hover {
  color: #337ab7;
  font-weight: bold;
}

/* Top Container */
.top-container {
  display: grid;
  grid-gap: 20px; /*l'espace height and width entre juste entre le top container*/
  grid-template-areas: 'top-box-a case1header case1header case1header case1header';
}

/* case1header */

/* Top Box */
.top-box {
  background: grey;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1.5rem;
}

.top-box .langage {
  font-size: 15px;
}


/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));; /*ou auto fit au la place de 5 auto fit permer de reserver la place automatiquement au nombre des box*/
}

.box {
  background: #ddd;
  text-align: center;
  padding: 24px 32px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}


/* Footer */
footer {
  margin-top: 200px;
  background: #333;
  color: #ffff;
  text-align: center;
  padding: 16px;
}

.top-box-a li {
  list-style: none;
}

.top-box-a li:hover {
  background-color: black;
}

.naviguer ul {
  display: grid;
  grid-gap: 5px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  grid-template-columns: repeat(18, 1fr); /*nav liste:division de l'espace entre chaque block en */
}

/* Media Queries */
@media (max-width: 750px) {
  .logo .icon {
    display: block;
    grid-area: area3;
  }

  .top-box-a {
    display: none;
  }

  .logo .area2 {
    display: none;
  }

  .logo {
    text-align: center;
    grid-template-areas: 'area1 area3';
  }

  .top-container {
    grid-template-areas: 'case1header';
  }

  .case1header h1 {
    font-size: 40px;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .naviguer {
    width: auto;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }

}

@media (max-width: 500px) {
  .logo {
    grid-template-areas: 'area1 area3';
  }

  .logo .icon {
    display: block;
    grid-area: area3;
  }

  .top-box-a {
    display: none;
  }

  /* .logo .area2{
     display:none;
   }*/
  .top-container {
    grid-template-areas: 'case1header';
  }

  .area2 {
    display: none;
  }

  .naviguer {
    width: auto;
  }

  .naviguer ul {
    grid-template-columns: 1fr; /*nav liste:division de l'espace entre chaque block en */
    display: flex;
    padding: 5px;
  }

  .zone input {
    grid-template-areas: 'zone';
  }

  .zone input {
    display: block;
    grid-area: zone;
  }


}

.icon {
  margin-left: 60px;
  margin-top: 5px;
}

.naviguer .nav1 {
  background: #000;
  display: block;
  text-decoration: none;
  padding: 13px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  border-radius: 10px;
}

.naviguer {
  padding: 0px;
}

.naviguer a:hover {
  background: #fff;
  color: #000;
}

.tuto {
  background-color: #ddd;
  padding: 100px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  border-radius: 3px;
}

form {
  padding: 0px;
}

.titre {
  border: none;
  color: #337ab7;
  font-size: 20px;
  font-weight: bold;
}

.btnretour {
  background-color: grey;
  color: white;
  font-weight: bold helvitica;
  border-radius: 5px;
}

.btnpasse {
  background-color: grey;
  color: white;
  font-weight: bold helvitica;
  border-radius: 5px;
}